<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>egyPredict</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2 class="hero">Al Ahly vs Zamalek</h2>
      </div>
      <div class="content">
        <div class="info">
          <span>Egyptian Super Cup</span>
          <span>Fri, Oct 28, 7:00 PM</span>
        </div>
        <div class="vs">
          <div class="team1">
            <img src="../assets/ahly.png" alt="AL Ahly logo" />
            <p>Al Ahly</p>
          </div>
          <div class="middle">
            <span>vs</span>
            <span>Final</span>
          </div>
          <div class="team2">
            <img src="../assets/zamalek.png" alt="Zamalek logo" />
            <p>Zamalek</p>
          </div>
        </div>
      </div>
      <div class="predction"></div>
    </div>
  </body>
</html>
